* {
  margin: 0px;
}

header h1 {
  text-align: center;
  padding: 30px;
  background-color: aquamarine;
}

.navmenu {
  background-color: aqua;
  
}

.navlist a {
  text-decoration: none;
  color: white;
}

.navlist {
  display: inline-block;
  margin: auto 20px;
  padding: 10px 80px;
  background-color: blue;
}

.maincontent {
  display: inline-block;
  max-width: 70%;
  margin-top: 20px;
  margin-left: 30px;
}

.fatos h3 {
  margin-top: 15px;
}

.fatos p {
  margin-top: 15px;
}

.img {
  display: inline-block;
  margin: 15px auto;
  height: 224.83px;
}

div.table {
  display: inline-block;
  margin-left: 30px;
}

.sidebar {
  padding-top: 40px;
  padding-left: 40px;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(0, 208, 245);
  width: 350px;
  height: 1000px;
  margin-top: 20px;
  }

.references h4 {
  font-size: 1.3em;
}

.references {
  border-radius: 5%;
  background-color: rgba(0, 217, 255, 0.534);
  font-size: 1.3em;
  padding: 20px;
  margin-top: 100px;
  margin-right: 40px;
}

table, th, td {
  width: 190px;
  margin: 15px 0;
  border: 0.5px solid black;
  border-collapse: collapse;
  padding: 6px;
}

footer {
  margin-left: 50px;
}